<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th><%=onedata.product_id[0]></th>
            <th><%=onedata.product_price[0]></th>
            <th><%=onedata.product_quanitity[0]></th>
        </tr>
        <tr>
            <td><%=onedata.product_id[1]></td>
            <td><%=onedata.product_price[1]></td>
            <td><%=onedata.product_quanitity[1]></td>
        </tr>
        <tr>
            <td><%=onedata.product_id[2]></td>
            <td><%=onedata.product_price[2]></td>
            <td><%=onedata.product_quanitity[2]></td>
        </tr>
        <tr>
            <td><%=onedata.product_id[3]></td>
            <td><%=onedata.product_price[3]></td>
            <td><%=onedata.product_quanitity[3]></td>
        </tr>
        <tr>
            <td><%=onedata.product_id[4]></td>
            <td><%=onedata.product_price[4]></td>
            <td><%=onedata.product_quanitity[4]></td>
        </tr>
        <tr>
            <td><%=onedata.product_id[5]></td>
            <td><%=onedata.product_price[5]></td>
            <td><%=onedata.product_quanitity[5]></td>
        </tr>
        <tr>
            <td><%=onedata.product_id[6]></td>
            <td><%=onedata.product_price[6]></td>
            <td><%=onedata.product_quanitity[6]></td>
        </tr>
    </table>
</body>
</html>